<div class="row">
  <div class="span8">
    <div class="picture">
      <% @posts.each do |post| %>      
        <h1><%= post.title %></h1>
        <a href="/home/post?id=<%= post.id %>"><%= image_tag post.picture.url %></a>
        <div><%= pluralize post.comments.count, "comment" %> </div>
        <p><%= truncate post.content, :length => 100 %></p>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
  <div class="span4">
    <div class="picture">
      <h1>Infos</h1>
      <a class="twitter-timeline" href="https://twitter.com/Beauty_Wishes" data-widget-id="288716021177647104">Tweets by @Beauty_Wishes</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h1>Best James Bond Ever</h1>
      <iframe width="300" height="180" src="http://www.youtube.com/embed/yZ8ooFjxqZI?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row">   
  <div class="span12">
    <hr>
  </div>
</div>

<div class="row">   
  <div class="span4">
    <div class="picture">
      <h1>Talk About Life</h1>
      <a href= "#"><img width="290" src="http://media.getthefive.com/cache/uploads/article_images/stockvault-barbwire127303_grid.jpg"></a>
    </div>
  </div>
  <div class="span4">
    <div class="picture">
      <h1>Talk About Music</h1>          
      <a href= "#"><img width="290" src="http://media.getthefive.com/cache/uploads/article_images/nicolascage099_grid.jpg"></a>
    </div>        
  </div>
  <div class="span4">
    <div class="picture">
      <h1>Talk About Cars</h1>            
      <a href= "#"><img width="290" src="http://media.getthefive.com/cache/uploads/article_images/license_grid.jpg"></a>
    </div>        
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="footer">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
